/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*==================== VARIAVEIS ====================*/
:root {
    --corheader: #31081F;
    --corsubtitle:#FF85A1;
    --corcard:#FAE0E4;
    --corbutton: #FF99AC;
    --corinput: #F7CAD0;
    --corplaceholder: #989090;
    --corfonte: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*==================== HEADER ====================*/

header {
    background-color: var(--corheader);
    padding: 10px;
}

li {
    margin: 0 3%;
    font-size: 0.55rem;
}

a {
    text-decoration: none;
    color: var(--corfonte);
}

.menu {
    display: flex;
    justify-content: flex-end;
    font-size: 50%;
    list-style-type: none;
}

/*==================== MAIN ====================*/

/*==================== H ====================*/

h1, h2, .home-text p, .sobre-text, h4, .qualificacao-text, .contato-text, .footer, .footer-copy {
    text-align: center;
}

h2, h3 {
    margin: 0;
}

h3 {
    color: var(--corsubtitle);
}

/*==================== HOME ====================*/

#home, .home-text, #sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-text p, .text, .sobre-img {
    width: 80%;
}

.home-img {
    width: 50%;
}

.home-blob-img {
    width: 60%;
}

button {
    background-color: var(--corbutton);
    border: none;
    border-radius: 10px;
    width: 10rem;
    height: 3rem;
    font-size: 1em;
    font-weight: bold;
}

/*==================== CARD ====================*/

.card-frontend, .card-backend {
    background-color: var(--corcard);
    height: 380px;
    border-radius: 10px;
    margin: 0 1rem 0 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}

.progresso {
    position: relative;
    width: 93%;
    height: 8px;
    background: var(--corinput);
    border-radius: 10px;
    margin: -10px 0 5px 10px;
}

.progresso span {
    width: 90%;
    height: 100%;
    background: var(--corsubtitle);
    position: absolute;
    border-radius: 10px;
}

.progresso-html span, .progresso-css span {
    width: 90%;
}
.progresso-js span {
    width: 30%;
}
.progresso-bt span, .progresso-wordpress span {
    width: 50%;
}
.progresso-python span {
    width: 40%;
}

/*==================== QUALIFICACOES ====================*/

.qualificacao-tabs {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.qualificacao-button {
    cursor: pointer;
}

.qualificacao-button:hover {
    color: var(--corbutton);
}

.qualificacao-icon {
    margin-right: 10px;
}

.qualificacao-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.qualificacao-subtitle {
    display: inline-block;
    margin-bottom: 10px;
    color: var(--corsubtitle);
}

.qualificacao-calendario {
    color: var(--corsubtitle);
}

.qualificacao-bolinha {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--corbutton);
    border-radius: 50%;
}

.qualificacao-linha {
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.689);
    transform: translate(6px, -7px);
}

.qualificacao [data-content]{
    display: none;
}

.qualificacao-ativa[data-content]{
    display: block;
}

/*==================== CONTATE ME ====================*/

#contato {
    margin-top: 3rem;
}

.contato-icon {
    display: flex;
    justify-content: space-around;
}

.form-contato {
    text-align: center;
}

form input {
    background-color: var(--corinput);
    height: 45px;
    width: 70%;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
}

form input::placeholder {
    color: var(--corplaceholder);
}

form button {
    margin-top: 10px;
}

#mensagem {
    height: 200px;
}

/*==================== FOOTER ====================*/

footer {
    background-color: var(--corheader);
    color: #fff;
    height: 100%;
}

.footer-meio {
    margin: 3rem 0 3rem 0;
}

.footer-direito {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.footer-copy {
    margin: 0;
}

/*==================== ICONS ====================*/

.fa-paper-plane, .fa-download, .fa-briefcase {
    margin-left: 10px;
}

.fa-calendar-days {
    position: relative;
    right: 3%;
}

@media only screen and (min-width: 768px) {
    #home, .sobre, .card, .contato-container {
        display: flex;
        flex-direction: row;
    }

    #home, .section-title {
        margin-top: 2rem;
    }

    .home-img {
        width: 90%;
    }

    /*==================== SOBRE ====================*/
    .sobre-text, .form-contato, .contato-text {
        margin-left: auto;
        margin-right: auto;
    }
    .sobre-text{
        width: 80%;
    }

    .sobre-img {
        width: 40%;
    }
    /*==================== CARD ====================*/
    .card-frontend, .card-backend {
        width: 100%;
    }
    /*==================== QUALIFICACOES ====================*/
    .qualificacao-trabalho {
        margin-left: 5rem;
    }
    /*==================== CONTATE ME ====================*/
    #contato {
        padding-bottom: 3rem;
    }

    .contato-text {
        width: 40%;
        margin-left: auto;
    }

    form input {
        width: 120%;
    }
    /*==================== FOOTER ====================*/
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-esquerdo {
        margin: auto;
    }

    .footer-direito {
        margin: auto 3%;
    }
}

@media only screen and (min-width: 900px) {
    .menu li {
        font-size: 1.3rem;
    }

    #home {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }

    .home-button {
        margin-left: auto;
        margin-right: 3rem;
    }
    /*==================== SOBRE ====================*/
    .sobre-text{
        width: 60%;
    }
    .sobre-text button {
        margin-top: 1rem;
    }
    /*==================== HABILIDADES ====================*/
    .card {
        margin: auto;
        width: 70%;
    }
    .card-frontend, .card-backend {
        margin: auto 5%;
    }
    /*==================== QUALIFICACOES ====================*/
    .qualificacao-text {
        margin-left: auto;
        margin-right: 5%;
    }
    /*==================== CONTATO ====================*/
    .contato-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contato-text {
        width: 60%;
        margin-top: 1rem;
    }
    form input {
        width: 25rem;
    }
    .button-contate-me {
        margin-left: 8rem;
    }
}

@media only screen and (min-width: 1200px) {
    #home {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }

    .home-img, .sobre-text {
       width: 50%;
       justify-self: center; 
    }

    .home-text {
        width: 70%;
    }

    .sobre-img {
        width: 30%;
    }

    .text {
        width: 60%;
    }
}